* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #F0DBDB;
}

 /* Hero */
.topsection {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #F5EBE0;
    z-index: -2;
}

nav {
    margin: auto;
    width: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 20px;
    font-weight: bold;
    opacity: none;
    top: 0;
    z-index: 100;
}

.navcolor {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    background-color: #FEFCF3;
    opacity: none;
    z-index: 100;
}

.homenav {
    color: black;
    letter-spacing: .5px;
    text-decoration: none;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

.list {
    color: black;
    text-decoration: none;
}

.list:hover {
    color: black;
    transition: .5s;
    text-decoration: underline;
}

#aboutme {
    z-index: 3;
    position:absolute;
    top: 40%;
    left: 25%;
}

#intro {
    font-size: 50px;
    font-style: italic;
    padding-bottom: 2%;
}

#quickinfo {
    letter-spacing: 2px;
}

/* Typewrite effect */
#one {
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid black; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}

#two {
    display: inline-block;
    white-space: nowrap;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 88% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: black; }
}

/*About text section*/
.about {
    width: 100%;
    padding: 100px 0px;
    background-color: #F0DBDB;
}

.about-img img {
    height:auto;
    width: 430px;
    border-radius: 5px;
}

.main-about{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-about h2 {
    padding-bottom: 10px;
}

.main-about h3 {
    padding-bottom: 10px;
}

/*Posts section*/

.posts-section {
    width: 100%;
    padding: 100px 0px;
    background-color: #F5EBE0;
}

.posts{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.posts-text h1 {
    margin-bottom: 20px;
}

.posts-text p {
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Footer section*/
footer {
    position: relative;
    width: 100%;
    padding: 40px 0px;
    background-color: #FEFCF3;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

footer h4 {
    padding-bottom: 5px;
}

footer a {
    padding: 5px 5px;
}

/* 
Dark Mode Button
The switch - the box around the slider 
*/
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 2.8px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

input:checked + .slider {
  background-color: gray;
}

input:focus + .slider {
  box-shadow: 0 0 1px gray;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark mode */
.dark-mode {
    background-color: black;
    color: white;
  }

.dark-mode-top-section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #333333;    
    color: white;
}

.navcolor-dark-mode {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #555555;
    z-index: 100;
}

.homenav-dark-mode {
    color: white;
    letter-spacing: .5px;
    text-decoration: none;
}

.list-dark-mode {
    color: white;
    text-decoration: none;
}

.list-dark-mode:hover {
    color: white;
    transition: .5s;
    text-decoration: underline;
}

.one-dark-mode {
    display: inline-block;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid white; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
        typing 3.5s steps(40, end),
        blink-caret-dark-mode .75s step-end infinite;
}

/* The typewriter cursor effect */
@keyframes blink-caret-dark-mode {
    from, to { border-color: transparent }
    50% { border-color: white; }
}

.about-dark-mode {
    width: 100%;
    padding: 100px 0px;
    background-color:#111111;
}

.posts-section-dark-mode {
    width: 100%;
    padding: 100px 0px;
    background-color: #333333;
}

.footer-dark-mode {
    position: relative;
    width: 100%;
    padding: 40px 0px;
    background-color: #444444;
    display: flex;
    flex-direction: column;
    align-items: center;  
}


/*
Light Mode Colour Palatte:
    #FEFCF3
    #F5EBE0
    #F0DBDB
    #DBA39A

Dark Mode Colour Palatte:
    #111111
    #333333
    #555555
    #777777
    #999999
*/